{%  extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_boardgame_index') }}"> Liste </a>
    <h1>{{ 'board_game.show.title' | trans }} {{ board_game.name }}</h1>

    Description : <br>
    {% if  board_game.description %} {{  board_game.description }} {% endif %}
    <hr>
    Date de Sortie : {{ board_game.releasedAt | date('d/m/Y') }}
    <br>
    A partir de : {{ board_game.ageGroup }} ans // {{ 'board_game.show.group' | trans({'%value%' : board_game.ageGroup }) }}
    <br>
    Id : {{ board_game.id }}
    <br>
    Créateur : {{ board_game.createur.email }}
    <hr>

    {% if  board_game.categories is not empty %}
        {{ 'board_game.show.title_category' | trans }} : <br>
        <ul>
        {% for cat in board_game.categories %}
            <li>{{ cat.name }}</li>
        {%  endfor %}
        </ul>
    {%  else %}
        {{ 'board_game.show.no_category' | trans }}
    {%  endif  %}
    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin_boardgame_edit', {id: board_game.id}) }}"> Modifier </a>
    {% endif %}
{% endblock %}